<configuration>

	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
			<section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
			<section name="typeConverters" type="Spring.Context.Support.TypeConvertersSectionHandlerXX, Spring.Core" />
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<resource uri="config://spring/objects" />
			<!-- <resource uri="config://spring/objects" /> -->
			<!-- <resource uri="file://spring.config" /> -->
			<!-- <resource uri="assembly://min/Min/objects.xml" /> -->
		</context>
		<typeAliases>
			<!-- C5 collection definitions -->
			<alias name="ListString" type="C5.ArrayList&lt;string>, C5" />
			<alias name="DictString" type="C5.HashDictionary&lt;string,string>, C5" />
			<alias name="NameMap" type="C5.HashDictionary&lt;string,string>, C5" />
			<alias name="DictFactory" type="VoodooWarez.ExCathedra.C6.DictFactory, ExCathedra" />
		
			<!-- System.Collections.Generic collection definitions -->	
			<alias name="CollectionsDictString" type="System.Collections.Generic.Dictionary&lt;string,string>" />
		</typeAliases>
		<typeConverters>
			<converter for="NameMap" type="VoodooWarez.ExCathedra.Convert" />
		</typeConverters>
		<objects xmlns="http://www.springframework.net">

			<!-- utility definitions; not to be used directly -->	
			<object id="DictionaryPrototype"
			  type="DictFactory"
			  factory-method="CreateDict&lt;string,string>" >
				<constructor-arg index="0">
					<dictionary key-type="string" value-type="string">
						<!--<entry key="input" value="output" />-->
					</dictionary>
				</constructor-arg>
			</object>

			<!-- manglers -->
			<object id="CamelCaseMangler"
			  type="VoodooWarez.ExCathedra.Mangle.CamelCaseMangler, ExCathedra" />
			<object id="NameMapMangler"
			  type="VoodooWarez.ExCathedra.Mangle.NameMapMangler, ExCathedra">
				<constructor-arg index="0">
					<!--
					<object type="DictFactory"
					  factory-method="CreateDict&lt;string,string>">
						<dictionary key-type="string" value-type="string">
							<entry key="input" value="output" />
						</dictionary>
					</object>
					-->
					<null/>
				</constructor-arg>
			</object>
			<object id="NumberPrefixingMangler"
			  type="VoodooWarez.ExCathedra.Mangle.NumberPrefixingMangler, ExCathedra" />
			<object id="ChompMangler"
			  type="VoodooWarez.ExCathedra.Mangle.RegexMangler, ExCathedra">
				<constructor-arg index="0" value="^[_\W]+" />
				<constructor-arg index="1" value="" />
			</object>
			<object id="UnsignedMangler"
			  type="VoodooWarez.ExCathedra.Mangle.RegexMangler, ExCathedra">
				<constructor-arg index="0" value="unsigned " />
				<constructor-arg index="1" value="u" />
			</object>
			<object id="StripMangler"
			  type="VoodooWarez.ExCathedra.Mangle.StripMangler, ExCathedra" >
				<constructor-arg index="0"><null/></constructor-arg>
				<constructor-arg index="1"><null/></constructor-arg>
			</object>
			<object id="TraceMangler"
			  type="VoodooWarez.ExCathedra.Mangle.TraceMangler, ExCathedra" />
			<object id="PrimitiveMapMangler"
			  type="VoodooWarez.ExCathedra.Mangle.NameMapMangler, ExCathedra" >
				<constructor-arg index="0">
					<object 
					  type="VoodooWarez.ExCathedra.C6.DictFactory, ExCathedra"
					  factory-method="CreateDict&lt;string,string>" >
						<constructor-arg index="0">
							<dictionary key-type="string" value-type="string">
								<entry key="Char" value="byte" />
								<entry key="UChar" value="byte" />
								<entry key="Short" value="short" />
								<entry key="Ushort" value="ushort" />
								<entry key="Int" value="int" />
								<entry key="Uint" value="uint" />
								<entry key="Long" value="long" />
								<entry key="Ulong" value="ulong" />
							</dictionary>
						</constructor-arg>
					</object>
				</constructor-arg>
			</object>
		
			<!-- min objects -->	
			<object id="BaseMacroEnumerizer"
			  type="VoodooWarez.Systems.Import.MacroEnumerizer, min">
				<property name="EnumMangler" >
					<list>
						<ref object="ChompMangler" />
						<ref object="CamelCaseMangler" />
					</list>
				</property>
				<property name="EnumMemberMangler">
					<list>
						<ref object="ChompMangler" />
						<ref object="NumberPrefixingMangler" />
						<ref object="CamelCaseMangler" />
					</list>
				</property>
			</object>
			<alias name="BaseMacroEnumerizer" alias="MacroEnumerizer" />
			
			<object id="BaseStructurizer"
			  type="VoodooWarez.Systems.Import.Structurizer, min">
				<property name="TypeManglers">
					<list>
						<ref object="UnsignedMangler" />
						<ref object="CamelCaseMangler" />
						<ref object="PrimitiveMapMangler"/>
					</list>
				</property>
				<property name="TypeFieldManglers">
					<list>
						<ref object="CamelCaseMangler"/>
						<ref object="UnsignedMangler"/>
					</list>
				</property>
			</object>
			<alias name="BaseStructurizer" alias="Structurizer" />
			
		</objects>
	</spring>

</configuration>
